{
    "name": "Base16 {{scheme-name}}",
    "style": "Fusion",

    "colors": {
        "background":          [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
        "backgroundDark":      [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
        "backgroundWindow":    [{{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}],
        "backgroundHighlight": [{{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}],
        "content":             [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
        "disabled":            [{{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}],
        "selection":           [{{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}],
        "selectionLight":      [{{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}}],
        "green":               [{{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base0B-rgb-b}}],
        "red":                 [{{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}}],
        "blue":                [{{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}}],
        "cyan":                [{{base0C-rgb-r}}, {{base0C-rgb-g}}, {{base0C-rgb-b}}],
        "lightCyan":           [{{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}}],
        "yellow":              [{{base0A-rgb-r}}, {{base0A-rgb-g}}, {{base0A-rgb-b}}],
        "orange":              [{{base09-rgb-r}}, {{base09-rgb-g}}, {{base09-rgb-b}}],
        "magenta":             [{{base0E-rgb-r}}, {{base0E-rgb-g}}, {{base0E-rgb-b}}]
    },

    "palette": {
        "Window":          "backgroundWindow",
        "WindowText":      "content",
        "Base":            "backgroundDark",
        "AlternateBase":   "background",
        "ToolTipBase":     "backgroundHighlight",
        "ToolTipText":     "content",
        "Text":            "content",
        "Button":          "backgroundHighlight",
        "ButtonText":      "content",
        "BrightText":      "yellow",
        "Link":            "blue",
        "Highlight":       "blue",
        "HighlightedText": "backgroundDark",
        "Light":           ["+", "backgroundDark", "content"]
    },

    "theme-colors": {
        "addressColor":                         "green",
        "modifiedColor":                        "red",
        "insertedColor":                        "blue",
        "notPresentColor":                      "disabled",
        "selectionColor":                       "selection",
        "outlineColor":                         "content",
        "backgroundHighlightDarkColor":         "backgroundDark",
        "backgroundHighlightLightColor":        "backgroundWindow",
        "boldBackgroundHighlightDarkColor":     "backgroundDark",
        "boldBackgroundHighlightLightColor":    "selection",
        "alphanumericHighlightColor":           "blue",
        "printableHighlightColor":              "lightCyan",
        "graphBackgroundDarkColor":             "background",
        "graphBackgroundLightColor":            "background",
        "graphNodeDarkColor":                   "backgroundHighlight",
        "graphNodeLightColor":                  "backgroundHighlight",
        "graphNodeOutlineColor":                "disabled",
        "trueBranchColor":                      "green",
        "falseBranchColor":                     "red",
        "unconditionalBranchColor":             "blue",
        "altTrueBranchColor":                   "blue",
        "altFalseBranchColor":                  "orange",
        "altUnconditionalBranchColor":          "content",
        "registerColor":                        "yellow",
        "numberColor":                          "green",
        "codeSymbolColor":                      "blue",
        "dataSymbolColor":                      "cyan",
        "stackVariableColor":                   ["+", "green", "content"],
        "importColor":                          "orange",
        "instructionHighlightColor":            "selectionLight",
        "tokenHighlightColor":                  "red",
        "annotationColor":                      "magenta",
        "opcodeColor":                          "disabled",
        "linearDisassemblyFunctionHeaderColor": "backgroundHighlight",
        "linearDisassemblyBlockColor":          "background",
        "linearDisassemblyNoteColor":           ["~", "+", "backgroundDark", "background", "green", 48],
        "linearDisassemblySeparatorColor":      "disabled",
        "stringColor":                          "magenta",
        "typeNameColor":                        "orange",
        "fieldNameColor":                       "lightCyan",
        "keywordColor":                         "yellow",
        "uncertainColor":                       "disabled",
        "scriptConsoleOutputColor":             "content",
        "scriptConsoleErrorColor":              "red",
        "scriptConsoleEchoColor":               "disabled",
        "blueStandardHighlightColor":           "blue",
        "greenStandardHighlightColor":          "green",
        "cyanStandardHighlightColor":           "cyan",
        "redStandardHighlightColor":            "red",
        "magentaStandardHighlightColor":        "magenta",
        "yellowStandardHighlightColor":         "yellow",
        "orangeStandardHighlightColor":         "orange",
        "whiteStandardHighlightColor":          "content",
        "blackStandardHighlightColor":          [0,0,0]
    }
}
